.App {
  margin: 2em auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #444;
}

h2 {
  margin: 1em 0;
  align-self: center;
}

.title {
  font-weight: 600;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.itemHeader {
  padding: 1.3em;
  background-color: #f6f8fa;
}

.issue {
  display: grid;
  grid-template-columns: 2em 1fr 2.5em;
  padding: 0.3em;
  /* top | left and right | bottom */
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #ddd;
}

.issue:hover {
  background-color: #f6f8fa;
}

.issue button {
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
  border-radius: 20px;
  border-style: none;
}

.issue a {
  text-decoration: none;
  color: #444;
}

.issue p {
  margin: 0.2em;
  font-size: 0.8em;
}

.octicon {
  padding: 0.3em 0.5em;
  fill: #444;
}

.octicon-issue-opened {
  fill: #1a7f37;
}

.text-small {
  font-size: 0.8em;
  vertical-align: top;
  padding: 0.2em 0;
}

.pages {
  margin: 1em;
  align-self: center;
}

.openCount {
  font-weight: 600;
  font-size: 0.9em;
  margin: 1em;
}

.closedCount {
  font-size:0.9em;
}